@font-face {
	font-family: "ITC Avant Garde Gothic Std";
  src: url('./assets/fonts/ITCAvantGardeStdMd.otf');
  font-weight: normal;
}

@font-face {
	font-family: "ITC Avant Garde Gothic Std";
  src: url('./assets/fonts/ITCAvantGardeStdBold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "DTL Prokyon";
  src: url('./assets/fonts/DTLProkyon.ttf');
}
